# Example Liner Regression

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
p_df = sns.load_dataset('penguins')
p_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [7]:
p_df = p_df.dropna()

In [10]:
p_df = p_df.reset_index(drop=True)

In [11]:
p_df.head()

,index,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
4,5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

We want to predict the body mass based on ther flipper lengt

x-y split

In [16]:
X = p_df['flipper_length_mm']
y = p_df['body_mass_g']

**train test split**

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state = 42)

In [19]:
X_train

22     187.0
284    221.0
294    212.0
56     185.0
175    205.0
       ...
188    196.0
71     184.0
106    193.0
270    220.0
102    181.0
Name: flipper_length_mm, Length: 233, dtype: float64

**Model generation**

In [21]:
 from sklearn.linear_model import LinearRegression

In [23]:
X_train = np.array(X_train).reshape(-1,1)
y_train = np.array(y_train).reshape(-1,1)

In [24]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [25]:
model.coef_

array([[51.32743793]])

In [26]:
model.intercept_

array([-6118.66754338])

In [27]:
X_test = np.array(X_test).reshape(-1,1)
y_test = np.array(y_test).reshape(-1,1)

In [29]:
y_pred = model.predict(X_test)

In [33]:
compare = pd.DataFrame({'y_test':list(y_test),'y_pred': list(y_pred)})

In [34]:
compare

      y_test                y_pred
0   [3250.0]   [3017.616407560008]
1   [4875.0]   [5276.023676332345]
2   [4000.0]   [3890.182852312955]
3   [3675.0]  [4044.1651660928874]
4   [4050.0]   [3736.200538533025]
..       ...                   ...
95  [3400.0]   [2812.306655853432]
96  [4675.0]   [3890.182852312955]
97  [4000.0]   [4506.112107432684]
98  [4100.0]   [3736.200538533025]
99  [4150.0]  [3941.5102902395993]

[100 rows x 2 columns]

#### Model Evaluation

In [38]:
from sklearn.metrics import mean_absolute_error as mae,mean_squared_error as mse